# Example settings that need to be set in an .env file for the app to run properly
VITE_IK_URL_ENDPOINT = 'Image Kit Enpoint URL'
VITE_IK_PUBLIC_KEY = 'Image Kit Public Key'
VITE_CLERK_PUBLISHABLE_KEY='Clerk Public Key'
VITE_API_URL = 'base url for api'
