# Example settings that need to be set in an .env file for the app to run properly
SERVER_PORT = 'port number you want the server to listen on'
MONGO = 'connection string to mongo database. something like: mongodb+srv://<db-username>:<db-user-password>@<db-cluster-name>.2addt.mongodb.net/?retryWrites=true&w=majority&appName=<db-cluster-name>&dbName=<db-name>'
CLERK_WEBHOOK_SECRET = 'Clerk secret key to verify webhook requests are only coming from Clerk'
CLERK_PUBLISHABLE_KEY = 'Clerk publishable key for this app'
CLERK_SECRET_KEY = 'Clerk secret API key'
CLIENT_URL = 'URL of the frontend app'
IK_URL_ENDPOINT = 'URL endpoint for imagekit'
IK_PUBLIC_KEY = 'public key from image kit'
IK_PRIVATE_KEY = 'private key from image kit'
